 body {
  background-color: #B4E4E6;
  color:#453D3D;
  font-family: 'Yanone Kaffeesatz', sans-serif;
 }

 button {
  background-color: #B32274;
  color: #FFFFFF;
  border-color: #B32274;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  width: 20%;
 }